{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Slider Task Time and Effort
{% endblock %}

{% block content %}

<p class="custom" align="justify"><br>
    How much do you think that the work you just did is worth if you could translate the time and effort into a
    monetary amount?
</p>

<br>


<section >

{{ form.non_field_errors }}
    {{ form.CST.errors }}

        <table  align="center" cellpadding="5" >
                <tr>
                <td class="custom3"><b>$</b></td>
                <td class="custom3"><b><input type="number" id="CST" name="CST" min="0" step="0.01" > </b></td>
                </tr>
        </table>


</section>

<br><br><br><br><br>
<p class="custom"> Press "NEXT" to continue.</p>
    <button class="otree-btn-next btn btn-primary" style="font-size:20px">NEXT</button>

{% endblock %}


{% block app_styles %}
<style type="text/css">


.custom {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 22pt;
}
.custom2 {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 22pt;
}
.custom3 {
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 22pt;
}


.picture {
    text-align: center;
}

.boxed {
  border: 1px solid black ;
  padding: 12px;


}

input[type='number']{
    width: 80px;
}
</style>
{% endblock %}

{% block scripts %}
<script>


<!--addEventListener("click", function() {-->
<!--    var-->
<!--          el = document.documentElement-->
<!--        , rfs =-->
<!--               el.requestFullScreen-->
<!--            || el.webkitRequestFullScreen-->
<!--            || el.mozRequestFullScreen-->
<!--    ;-->
<!--    rfs.call(el);-->
<!--});-->

</script>
{% endblock %}