{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Instructions <i>(continued)</i>
{% endblock %}

{% block content %}

<p class="custom" align="justify">
    <br><br>
    <b> Each Slider Task can gain ${{ slider_value }} for the selected charity.</b>
        To gain the money, all five sliders have to be positioned exactly at 50 when the 30-second timer runs out.
        Therefore, you will gain ${{slider_value}} for each Slider Task you perform correctly.
    <br><br><br>
    <i>Remember:</i></p>
    <ul class="custom" align="justify">


        <li>Only one of your {{num_charities}} donation commitments will be selected at random for you to complete.
            Therefore, you should treat each donation commitment as being the one that will be selected.<br>
        </li>
        <li>
            {% if part_pool == "SONA" %}
                You will not receive course credit compensation for the time you spend completing the Slider Tasks
                you commit to.
            {% else %}
                You will not receive monetary compensation for the time you spend completing the Slider Tasks
                you commit to.
            {% endif %}
        </li>

    </ul>
<br>
    <br><br>
 <p class="custom" align="justify">
     Note: You will see each charity one time. Once you submit a donation commitment, you will not be able to go back.
</p>
    <br><br><br>






<p class="custom"> Press "NEXT" to begin.</p>
    <button class="otree-btn-next btn btn-primary" style="font-size:20px">NEXT</button>

{% endblock %}


{% block app_styles %}
<style type="text/css">

ul {
	line-height: 22pt;
}

.custom {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 22pt;
}
.custom2 {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 22pt;
}

.picture {
    text-align: center;
}

.boxed {
  border: 1px solid black ;
  padding: 12px;


}
</style>
{% endblock %}

{% block scripts %}
<script>


<!--addEventListener("click", function() {-->
<!--    var-->
<!--          el = document.documentElement-->
<!--        , rfs =-->
<!--               el.requestFullScreen-->
<!--            || el.webkitRequestFullScreen-->
<!--            || el.mozRequestFullScreen-->
<!--    ;-->
<!--    rfs.call(el);-->
<!--});-->

</script>
{% endblock %}