{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Slider Tasks Instructions
{% endblock %}

{% block content %}

<p class="custom" align="justify"><br>
    The money you gain for a charity will depend on the number of slider tasks you perform correctly in the second
    phase.
    <br><br>
    <b>Each task consists of 5 sliders randomly distributed across the screen. All sliders begin
    positioned at 0. You will have 30 seconds to position all sliders at 50.
    If all sliders are positioned at 50 when the 30-second timer runs out, you will gain a corresponding amount of money
        for the selected charity.</b>
    <br><br>

    Below you can see a representation of the task with only two sliders. Please position each of them at 50.
</p>
<br><br>
{{ form.non_field_errors }}
{{ form.STI1.errors }}
{{ form.STI2.errors }}
<section>
    <div class="grid-container" >
        <div class="item item-1" style="margin-left:300px" >
            <input type="range" min="0" max="100" value="0" name="STI1" class="slider" id="STI1"> <span id="value1" class="custom2"></span>

        </div>
        <div class="item item-2" style="margin-left:50px">
            <input type="range" min="0" max="100" value="0" name="STI2" class="slider" id="STI2"> <span id="value2" class="custom2"></span>
        </div>
    </div>
</section>
<br><br><br><br>
<p class="custom"> <b>On the next page you will do a practice round of a Slider Task. Please, complete the practice round to get a sense of how
    much time and effort it demands.</b></p>


<br><br><br>
<p class="custom"> Press "NEXT" to complete a Practice Round of a Slider Task.</p>
    <button class="otree-btn-next btn btn-primary" style="font-size:20px">NEXT</button>

{% endblock %}


{% block app_styles %}
<style type="text/css">


.custom {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
}
.custom2 {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.picture {
    text-align: center;
}

.boxed {
  border: 1px solid black ;
  padding: 12px;
}

.slider{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 300px; /* Full-width */
  height: 10px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;

}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 5px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #008000; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 5px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #008000; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.grid-container {
  display: grid;
  grid-template-columns: 1000px;
  grid-template-rows: auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 80px;
  justify-content: center;
  align-content: start;
  margin-left: 140px;
}

.item-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.item-2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

</style>
{% endblock %}

{% block scripts %}
<script>


<!--addEventListener("click", function() {-->
<!--    var-->
<!--          el = document.documentElement-->
<!--        , rfs =-->
<!--               el.requestFullScreen-->
<!--            || el.webkitRequestFullScreen-->
<!--            || el.mozRequestFullScreen-->
<!--    ;-->
<!--    rfs.call(el);-->
<!--});-->

var slider1 = document.getElementById("STI1");
var output1 = document.getElementById("value1");
output1.innerHTML = slider1.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider1.oninput = function() {
  output1.innerHTML = this.value;
}

var slider2 = document.getElementById("STI2");
var output2 = document.getElementById("value2");
output2.innerHTML = slider2.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider2.oninput = function() {
  output2.innerHTML = this.value;
}

</script>
{% endblock %}