{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Donation decision chosen for implementation
{% endblock %}

{% block content %}
    <p class="custom" align="justify"><br>
        The donation decision that will be implemented is {{ anonymity }}.
    <br>
    <br>

    {% if anonymity == 'PUBLIC' %}
        {% if listed == 'YES' %}
            Your donation has earned you a place on the Charity Heroes' List.
        {% else %}
            Your donation has not earned you a place on the Charity Heroes' List.
        {% endif %}
    {% endif %}
    {% if anonymity == 'ANONYMOUS' %}
        {% if matched_donation == 'YES' %}
            The donation was selected to be doubled by the researchers.
        {% else %}
            The donation was not selected to be doubled by the researchers.
        {% endif %}
    {% endif %}


    </p>
<br>
<p class="custom"> Press "NEXT" to continue.</p>
<button class="otree-btn-next btn btn-primary" style="font-size:20px"> NEXT </button>

{% endblock %}

{% block app_styles %}
<style type="text/css">
.otree-body{
    max-width: 1280px;
}

.custom {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;

}
.custom2 {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;

}


</style>
{% endblock %}