{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Charity Ratings
{% endblock %}

{% block content %}<br>

<p class="custom" align="justify">
    Next you will be presented with 60 charities, one at a time. <br><br>
    For each charity, you will be shown its name, a picture, and a brief description.
    <br><br><br>
    Please rate each charity for:<br>
    <ol class="custom" align="justify">
    <li> How deserving of assistance you believe it is. </li>
    <br>
    <li> How likely it is that you or someone you know will directly benefit from its mission.</li>
    </ol>

</p>

<br><br>
<p class="custom"> Press "NEXT" to begin.</p><br>
    <button class="otree-btn-next btn btn-primary" style="font-size:20px"> NEXT </button>

{% endblock %}


{% block app_styles %}
<style type="text/css">
.otree-body{
    max-width: 1280px;
}

.custom {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
</style>
{% endblock %}