{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Charity Donations
{% endblock %}

{% block content %}

<p class="custom" align="justify"><br>
    You will now have the opportunity to donate some, none or all of your endowed amount of {{ endowment }}, as you see fit.
    <br><br>
    THIS:<br>
    You will be presented with the same 60 charities that you previously rated. Descriptions have been shortened to
    include only each charity's mission statement.
    <b>For each charity you will need to decide whether or not you want to make a donation. </b>
    Donations may be any dollar amount from $0.00 to {{endowment }}.
    <br><br>
    OR THIS (i think its weird to call it trials): <br>
    <b>For each charity presented on the next set of 60 trials, you will need to decide whether or not you want to make a donation. </b>
    Donations may be any dollar amount from $0.00 to {{endowment }}.
    <br><br>

    <b>One of the 60 donation decisions will be selected at random</b> and implemented at the end of the experiment.
    This means that it is not possible to spread the endowment across different charities. Therefore,
    <b>you should treat each decision as an unique opportunity to donate whatever portion of
        the endowment you would like to donate</b>.
    <br><br>

    <b>The selected charity will be sent the corresponding donation, and whatever portion of the endowment is not donated
        will be yours to keep</b> (i.e., will be added to your total earnings for participating in the experiment).
    <br><br><br>

    Each donation decision will be classified as <b>Anonymous</b> or <b>Public</b>. <br>
</p>
    <ul class="custom" align="justify">
    <li><b>Anonymous</b> donation decisions will have 50% chance of being doubled by the researchers if chosen
        for implementation.
        However, the donation will not be associated with your name or any identifiable information.<br>
    </li>
    <br>
    <li><b>Public</b> donation decisions will have no possibility of being doubled.
        However, with your consent and if your donation is large enough, you will be listed as a <b>charity heroe</b> on
        the following website linked to the Lead Researcher's Laboratory:
        <a href="https://sites.google.com/view/thecharityproject" target="_blank">The Charity Project</a>. <br>
    </li>

    </ul>
    <br><br>

<p class="custom" align="justify"> <b>To give the research team permission to publish your name on The Charity
    Project's website, type your name in the following box*:</b></p>
<font class="custom2" >
    {% for field in form %}
        {% formfield field label="" %}
    {% endfor %}
</font>
<p class="custom" align="justify"><i>*Leave the box blank if you do not give the research team permission to publish your name.</i></p>


<br>
<p class="custom"> Press "NEXT" to begin.</p>
    <button class="otree-btn-next btn btn-primary" style="font-size:20px">NEXT</button>

{% endblock %}


{% block app_styles %}
<style type="text/css">
.otree-body{
    max-width: 1280px;
}

.custom {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.custom2 {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
</style>
{% endblock %}