{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Charity Donations
{% endblock %}

{% block content %}

<p class="custom" align="justify"><br>
</p>

<br>
<section class="boxed">

    <p class="custom" align="justify"><b>Permission to publish your name on The Charity Project's website*</b><br><br>
        The research team would like your permission to publish your name on The Charity Project's website.
        Please check your level of permission below:</p><br>
{{ form.non_field_errors }}
    {{ form.consent.errors }}
        {{ form.name_consent.errors }}

        <table class="custom" style="margin: 15px">
            <tr >
                <td ><input type="radio" name="consent" value ="1"> Yes, the research team may publish my name in The Charity Project's website.</td>
            </tr>
            <tr><td style="padding-left:28px"><i>Please type your preferred name in the box:</i> <input type="text" name="name_consent" size="26"> <br><br></td></tr>
            <tr >
                <td ><input type="radio" name="consent" value ="0"> No, the research team may <b><u>not</u></b> publish my name in The Charity Project's website.</td>
            </tr>
        </table>
<br>
    <p class="custom2"> <b>* Note: If you prefer not to give permission, your decisions will be for hypothetical money. Real money will not
        be sent to the charities.</b></p>
</section>

<br><br><br>
<p class="custom"> Press "NEXT" to learn more about the short tasks.</p>
    <button class="otree-btn-next btn btn-primary" style="font-size:20px">NEXT</button>

{% endblock %}


{% block app_styles %}
<style type="text/css">


.custom {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
}
.custom2 {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.picture {
    text-align: center;
}

.boxed {
  border: 1px solid black ;
  padding: 12px;


}
</style>
{% endblock %}

{% block scripts %}
<script>


addEventListener("click", function() {
    var
          el = document.documentElement
        , rfs =
               el.requestFullScreen
            || el.webkitRequestFullScreen
            || el.mozRequestFullScreen
    ;
    rfs.call(el);
});

</script>
{% endblock %}