{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Charity Ratings ({{charity_num}} of {{last_charity}})
{% endblock %}

{% block content %}
<br>
<br>
<div class="grid-container">

    <div class="item item-1"><div class="boxed"> <h2 >{{ charity }}</h2> <br><img src="{% static image_path_info %}" style="width:100%;"/></div> </div>

    {{ form.non_field_errors }}
    <div class="item item-2"  >

        {{ form.deservingness.errors }}
        <label class="custom" align="left" > How deserving of assistance do you believe this charity is?</label>
        <br>
        <br>
        <br>
        <table align="center" >
            <tr >
                <td align="center" ><b>Not at all deserving</b></td>
                {% for radio in form.deservingness %}
                    <td align="center"><pre><br>      {{ radio.tag }}    </pre></td>
                {% endfor %}
                <td align="center"><b>Extremely deserving</b> </td>
            </tr>

        </table>
        <br><br><br>

    </div>
    <div class="item item-3" ><br>

        {{ form.closeness.errors }}
        <label class="custom" align="left"> How likely is it that you or someone you know will directly benefit from this charity's mission?</label>
        <br><br><br>

        <table align="center" >
            <tr >
                <td align="center"> <b>Not at all likely</b></td>
                {% for radio in form.closeness %}
                    <td align="center" ><pre><br>      {{ radio.tag }}    </pre></td>
                {% endfor %}
                <td align="center"><b>Extremely likely</b> </td>
            </tr>

        </table>
        <br><br><br>

    </div>



</div>
<br><br>
<br>
<br>
{% if charity_num == last_charity %}
<p class="custom"> Press "NEXT" to continue.</p><br>
{% endif %}
<button class="otree-btn-next btn btn-primary" style="font-size:20px"> NEXT </button>
<br>
<br>
<br>


{% endblock %}

{% block app_styles %}
<style type="text/css">
.otree-body{
    max-width: 1280px;
}

.custom {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;

}
.custom2 {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
.custom3 {
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 42% 58%;
  grid-template-rows: 50% 50%;
  grid-column-gap: 35px;
  grid-row-gap: 15px;
  align-content: start;
}

.item-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  place-self: center ;
}

.item-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  place-self: center ;
}

.item-3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  place-self: center ;
}

.boxed {
  border: 1px solid black ;
  padding: 15px;


}
.deser {
  font-weight: bold  ;
  font-size: 22px;
  text-align: top;
  border           : 1.5em solid black;
  width            : 1em;
  height           : 1em;

}

.close {
  font-weight: bold  ;
  font-size: 22px;
  text-align: top;
  color: black;
  border           : 1.5em solid black;
  width            : 1em;
  height           : 1em;

}

</style>

{% endblock %}

{% block scripts %}


<script>


addEventListener("click", function() {
    var
          el = document.documentElement
        , rfs =
               el.requestFullScreen
            || el.webkitRequestFullScreen
            || el.mozRequestFullScreen
    ;
    rfs.call(el);
});

</script>

{% endblock %}