{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Charity Donations Instructions <i>(3 of 3)</i>
{% endblock %}

{% block content %}

<p class="custom" align="justify">
    <br><br>
    <b> Each Slider Task you choose to perform can gain ${{ slider_value }} for the selected charity.</b>
        To gain the money from the task, all five sliders have to be positioned exactly at 50 when the 30-second timer runs out.
        Therefore, you will gain ${{slider_value}} for each task you perform correctly.
    <br><br><br>
    <b><u>IN SUMMARY</u> </b><br><br>
    <b>For each charity:</b></p>
        <ul class="custom" align="justify">
            <li> <b>Input how many tasks</b> you would like to perform. You can choose any number between 0 and {{ max_tasks }}.</li>
            <li> <b>Select</b> if you would like the donation decision to be <b>Anonymous</b> or <b>Public</b>, or select <b>N/A</b> (Not Applicable) if
                the number of tasks is 0. </li>

            {% if social_conformity == 1 %}
            <li> <b>You will be shown</b> out of all <b>donations</b> made to the charity <b>by previous participants</b>
                what percentage were <b>Public</b> and what percentage were <b>Anonymous</b>.
               </li>
            {% endif %}


        </ul>
<br>
<p class="custom" align="justify">
    <b>Remember that only one of your 60 donation decisions will be randomly selected for implementation in phase two of the study.</b>
        Therefore, you will only perform the tasks you commit to for one of the charities and you should treat each
        donation decision as being the one that is selected at the end.
    <br><br>

    <b>The research team will send the charity the corresponding donation.</b>
    <br>
    <br>
    Note: You will see each charity one time. Once you submit a decision, you will not be able to go back.

    <br><br><br>

</p>




<p class="custom"> Press "NEXT" to begin.</p>
    <button class="otree-btn-next btn btn-primary" style="font-size:20px">NEXT</button>

{% endblock %}


{% block app_styles %}
<style type="text/css">


.custom {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
}
.custom2 {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.picture {
    text-align: center;
}

.boxed {
  border: 1px solid black ;
  padding: 12px;


}
</style>
{% endblock %}

{% block scripts %}
<script>


addEventListener("click", function() {
    var
          el = document.documentElement
        , rfs =
               el.requestFullScreen
            || el.webkitRequestFullScreen
            || el.mozRequestFullScreen
    ;
    rfs.call(el);
});

</script>
{% endblock %}