{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Charity Donations Instructions <i>(1 of 3)</i>
{% endblock %}

{% block content %}

<p class="custom" align="justify"><br>

    In this part of the study, you will have the opportunity to gain money for a charity by correctly performing one or more slider tasks. The
    more tasks you complete correctly, the more money you will gain for the charity. The task(s) will be carried out
    in the second part of the study (i.e., you will not be compensated with course credit for the time
    you spend carrying the tasks out).
    <br><br>
    You will be presented again with the 60 charities you just rated.
    <b>For each charity you will need to decide the number of slider tasks you would like to perform
    in exchange for money being sent to that charity. For each charity, you can commit to performing
    any number of slider tasks between 0 and {{ max_tasks }}. </b>

    One of your 60 donation decisions will be randomly selected for implementation at the end of the experiment. That is,
    <b>you will only complete the tasks you commit to for one of the 60 charities</b>. Therefore, you should treat each
    one of the 60 donation decisions as being the only one that counts, instead of spreading the tasks across donations to several charities.
    All 60 donation decisions have the same
    probability of being chosen.


    <br><br>
    All charities selected for this study are highly rated for financial health, accountability, and transparency
    by Charity Navigator. Charity Navigator is a non-profit organization whose ratings seek to show donors
    how efficiently a charity will use their support.


    <br><br>
    <b>The research team will send the selected charity the sum of money you gain for it.</b>
    <br><br>


</p>
<br>
<p class="custom"> Press "NEXT" to continue with the instructions.</p>
    <button class="otree-btn-next btn btn-primary" style="font-size:20px">NEXT</button>

{% endblock %}


{% block app_styles %}
<style type="text/css">


.custom {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
}
.custom2 {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.picture {
    text-align: center;
}

.boxed {
  border: 1px solid black ;
  padding: 12px;


}
</style>
{% endblock %}

{% block scripts %}
<script>


addEventListener("click", function() {
    var
          el = document.documentElement
        , rfs =
               el.requestFullScreen
            || el.webkitRequestFullScreen
            || el.mozRequestFullScreen
    ;
    rfs.call(el);
});

</script>
{% endblock %}