{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Charity Donations Instructions <i>(1 of 3)</i>
{% endblock %}

{% block content %}

<p class="custom" align="justify"><br>


    You will be presented with the same 60 charities once again. <br><br>
    <b>For each charity you will need to decide whether or not you want to perform a 30-second slider task
    in exchange for money being sent to that charity. </b> The slider tasks will be carried out
    in phase two of the study (i.e., you will not be compensated with course credit for the time
    you spend carrying them out).


    <br><br>
    All charities selected for this study are highly rated for financial health, accountability, and transparency
    by Charity Navigator. Charity Navigator is a non-profit organization whose ratings seek to show donors
    how efficiently a charity will use their support.


    <br><br>
    <b>The research team will send the charities the corresponding donations.</b>
    <br><br>


</p>
<br>
<p class="custom"> Press "NEXT" to continue with the instructions.</p>
    <button class="otree-btn-next btn btn-primary" style="font-size:20px">NEXT</button>

{% endblock %}


{% block app_styles %}
<style type="text/css">


.custom {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
}
.custom2 {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.picture {
    text-align: center;
}

.boxed {
  border: 1px solid black ;
  padding: 12px;


}
</style>
{% endblock %}

{% block scripts %}
<script>


addEventListener("click", function() {
    var
          el = document.documentElement
        , rfs =
               el.requestFullScreen
            || el.webkitRequestFullScreen
            || el.mozRequestFullScreen
    ;
    rfs.call(el);
});

</script>
{% endblock %}