{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Charity Donations
{% endblock %}

{% block content %}

<p class="custom" align="justify"><br>
    Each potential donation will be classified as either <b>Anonymous or Public</b>. You will know the
    classification before you have to submit your choice. Half will be Anonymous and half will be Public.<br><br>
</p>
    <ul class="custom" align="justify">
    <li>The total amount of your <b>Anonymous donations will have a 50% chance of being doubled</b> by the researchers.
        <b>Anonymous</b> donations will not be associated with your name or any identifiable information.<br>
    </li>
    <br>
    <li><b>Public</b> donations will have no possibility of being doubled.
        However, if the total amount of your <b>Public donations is large enough,
        your name will be included on The Charity Project's website</b>.
        The link to the website is on the Study Information page on SONA and will also be emailed to all participants
            that complete this study. <br>
    </li>

    </ul>

<br><br><br>
<p class="custom"> Press "NEXT" to learn more about the short tasks.</p>
    <button class="otree-btn-next btn btn-primary" style="font-size:20px">NEXT</button>

{% endblock %}


{% block app_styles %}
<style type="text/css">


.custom {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
}
.custom2 {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.picture {
    text-align: center;
    border: 1px solid black ;
}

.boxed {
  border: 3px solid black ;
  padding: 12px;


}
</style>
{% endblock %}

{% block scripts %}
<script>


addEventListener("click", function() {
    var
          el = document.documentElement
        , rfs =
               el.requestFullScreen
            || el.webkitRequestFullScreen
            || el.mozRequestFullScreen
    ;
    rfs.call(el);
});

</script>
{% endblock %}