{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Charity Donations
{% endblock %}

{% block content %}

<p class="custom" align="justify">
    <br><br>
        <b>Each task you complete can gain ${{ slider_value }} for the corresponding charity.
            To gain the money on a task, a large number of sliders need to be positioned at 50.</b>
        You can choose to complete up to {{ max_tasks }} tasks. Only one task per charity.

        <br>

    <br>

    <br>
        You will first submit your decisions for each charity and then complete the tasks (if any) in phase two of the study.

        <b>Each task will last 1 minute. This is time you will be donating, and will
        not be compensated with course credit.  </b>

    <br><br><br>
    <b>The research team will send the selected charities the corresponding donations.</b>

    <br><br>


</p>

<p class="custom"> Press "NEXT" to begin.</p>
    <button class="otree-btn-next btn btn-primary" style="font-size:20px">NEXT</button>

{% endblock %}


{% block app_styles %}
<style type="text/css">


.custom {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
}
.custom2 {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.picture {
    text-align: center;
}

.boxed {
  border: 1px solid black ;
  padding: 12px;


}
</style>
{% endblock %}

{% block scripts %}
<script>


addEventListener("click", function() {
    var
          el = document.documentElement
        , rfs =
               el.requestFullScreen
            || el.webkitRequestFullScreen
            || el.mozRequestFullScreen
    ;
    rfs.call(el);
});

</script>
{% endblock %}