{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Welcome!
{% endblock %}

{% block content %}<br>
<div id="fs-request">
    <p class="custom"> Please open this page in <b>FULL SCREEN.</b></p>
    <p class="custom2"> Press "F11" to full screen the page on a Windows computer. Press "Command-Control-F" on a Mac.</p>
    <br>
    <p class="custom"> Once you are in Full Screen Mode, click below to begin with the experiment:</p>
    <p class="custom2"> <button type="button" style="background-color: lightgreen" onclick="toggleFullScreen(document.documentElement);">BEGIN</button></p>
 </div>
<div id="fs-main-content" class="hide" >

<p class="custom" align="justify">
    <br>
    In this study you will have the opportunity to gain real money for several charities.<br>
    Prior to making those decisions, you will be asked to rate how deserving of assistance you believe each charity is,
    as well as how likely its work is to benefit you or someone you know.  Throughout the study, you will also be asked to complete
    some questionnaires about your everyday decisions, feelings, and beliefs.  <br>

    <br><br>
    The study has two phases. The first phase will last 30 minutes and will earn you 0.5 course credit.
    The second phase is optional and can last up to 30 minutes. The second phase will not be compensated with course
    credit, instead, you would be donating your time to gain money for the charities.
    You may pace yourself and are encouraged to take short (20-second) breaks as needed. <br>
    <br><br>



    You are free to stop the experiment at any time you wish.
    However, stopping before completing the first phase of the study means that you will not receive course credit compensation.
    <br>
</p>
<br><br>
<p class="custom">
    Thank you in advance for your participation!<br><br>

</p>
<br>

<br>
<p class="custom">
    Press "NEXT" to begin.</p> <br>

    <button class="otree-btn-next btn btn-primary" style="font-size:20px"> NEXT </button>
</div>
{% endblock %}

{% block app_styles %}
<style type="text/css">


.custom {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
}

.custom2 {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.hide { display: none!important; }
</style>
{% endblock %}

{% block scripts %}
<script>




var fsRequest = $('#fs-request');
var fsContent = $('#fs-main-content');
function toggleFullScreen(elem) {

    fsRequest.addClass('hide');
    fsContent.removeClass('hide');
}





</script>
{% endblock %}