{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Charity Donations ({{round_num}} of {{last_charity}})
{% endblock %}
{% block content %}
<br>
<br>
<div class="grid-container">

    <div class="item item-1"><div class="boxed"> <h2 >{{ charity }}</h2> <br><img src="{% static image_path_info %}" style="width:100%;"/> </div></div>

    <div class="item item-2">
        <p class="custom3"> <b>Do you wish to perform a task to gain money for this charity?</b>
            </p>
        <p class="custom3" align="justify">You can choose to perform up to <b>{{tasks_allowed}}</b> tasks.</p>
            <br>
            {% if tasks_completed == max_tasks %}
            <p class="custom" align="justify"><b>You have already chosen the maximum number of tasks.
                Please select 'NOT' below.</b>  </p>
            {% endif %}

        <p class="custom" align="justify"> <i> Your total of Anonymous donations has a
            50% chance of being doubled. Anonymous donations will not be associated with your name.
            </i></p>
        <p class="custom" align="justify"> <i>Public donations have no possibility of being doubled.
            If your total of Public donations is large enough, your name will be included in The Charity Project's website.
            </i></p>
        <br>
        <p class="custom3"><b> Please select one of the options below:</b></p>

    </div>

    <div class="{{yorder.0}}">

            <p align="justify">

                <button name="task_decision" value="ANONYMOUS" style="padding: 12px;color: white;background-color:CornflowerBlue;margin: 3px 3px;font-size:24px;border-radius:8px;border: none;">Anonymous Donation</button>
            </p>

    </div>
    <div class="{{yorder.1}}">

            <p align="justify">

                <button name="task_decision" value="PUBLIC" style="padding: 12px;color: white;background-color:CornflowerBlue;margin: 3px 3px;font-size:24px;border-radius:8px;border: none;">Public Donation</button>

            </p>


    </div>

    <div class="{{norder.0}}">
        <p align="justify">

            <button name="task_decision" value="NO" style="padding: 12px;color: white;background-color:CornflowerBlue;margin: 3px 3px;font-size:24px;border-radius:8px;border: none;">No Donation</button>

        </p>
    </div>


</div>
<br>
<br>
<br>



{% endblock %}

{% block app_styles %}
<style type="text/css">
.otree-body{
    max-width: 1280px;
}

.custom {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.custom2 {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
.custom3 {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 42% 58%;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 35px;
  grid-row-gap: 5px;
  align-content: start;
}


.item-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  place-self: center;
}

.item-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  place-self: left;
}
.item-3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  place-self: left;
}
.item-4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  place-self: left;
}.item-5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  place-self: left;
}


.boxed {
  border: 1px solid black ;
  padding: 15px;

}




</style>
{% endblock %}

{% block scripts %}
<script>


addEventListener("click", function() {
    var
          el = document.documentElement
        , rfs =
               el.requestFullScreen
            || el.webkitRequestFullScreen
            || el.mozRequestFullScreen
    ;
    rfs.call(el);
});




</script>
{% endblock %}






