{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
{% endblock %}

{% block content %}
<p align="center">
<img src="{% static 'Comp_sona/pics/SIS 1.jpeg' %}" width="100%">
<img src="{% static 'Comp_sona/pics/SIS 2.jpeg' %}" width="100%">
</p>
<br><br>
<ul class="custom2">

    <li>Please contact the UCI Institutional Review Board by phone, (949) 824-6662, by e-mail at <a href="mailto:IRB@research.uci.edu">IRB@research.uci.edu</a> or at 160 Aldrich Hall, Irvine, CA 92697-7600 if you are unable to reach the researchers listed at the top of the form and have general questions; have concerns or complaints about the research; have questions about your rights as a research subject; or have general comments or suggestions.
    <br><br>
    <b>What is an IRB?</b>  An Institutional Review Board (IRB) is a committee made up of scientists and non-scientists. The IRB's role is to protect the rights and welfare of human subjects involved in research.  The IRB also assures that the research complies with applicable regulations, laws, and institutional policies.
    </li>

{{ form.non_field_errors }}

    <br><br>
    <li>
<p class="custom2" align="justify"><b>Participate in Future Studies</b><br>
The study team would like your permission to contact you for future research. Please check your level of permission below:</p>
{{ form.future.errors }}
        {{ form.email.errors }}

        <table class="custom2" style="margin: 15px">
            <tr >
                <td ><input type="radio" name="future" value ="1"> Yes, UCI researchers may contact me in the future to ask me to take part in other research studies.</td>
            </tr>
            <tr><td style="padding-left:28px"><i>Please type your email address in the box:</i> <input type="email" name="email" size="26"> <br><br></td></tr>
            <tr >
                <td ><input type="radio" name="future" value ="0"> No, UCI researchers may <b><u>not</u></b> contact me in the future to ask me to take part in other research studies.</td>
            </tr>
        </table>
    </li>
</ul>


<br>
<p class="custom2" align="justify"> <b> IN THIS STUDY you will have the opportunity to gain real money for several charities.
    Donations will be either Anonymous or Public depending on your decisions.
    If you choose to make Public donations, your name might be listed as a donor on The Charity Project's website
    <i>(<a href="https://sites.google.com/view/thecharityproject/home" target="_blank">https://sites.google.com/view/thecharityproject/home</a>)</i>.
</b></p>
<br><br>


<p class="custom2"> <b>HOW DO YOU AGREE TO PARTICIPATE IN THIS STUDY?</b><br>
<b>Participation in this study is voluntary.</b>  You may refuse to answer any question or discontinue your involvement at any time without penalty or loss of benefits to which you might otherwise be entitled.  Your decision will not affect your future relationship with UCI or your quality of care at the UCI Medical Center.
<br><br>
Selecting the "I agree to participate in the study" option indicates that you have read and consent to the information in this form.</p>
{{ form.SIS.errors }}

<br>
        <table class="custom2" style="margin: 15px" >
            <tr >
                <td align=left><input type="radio" name="SIS" value ="1"> <b><i>I agree to participate in the study.</i></b><br><br></td>
            </tr>
            <tr >
                <td align=left><input type="radio" name="SIS" value ="0"> <b><i>I do NOT agree to participate in the study.</i></b></td>
            </tr>
        </table>

<br>
<br>
<p class="custom" > Press "NEXT" to submit your responses.</p><br>
<button class="otree-btn-next btn btn-primary" style="font-size:20px"> NEXT </button>

{% endblock %}

{% block app_styles %}
<style type="text/css">
<!--.otree-body{-->
<!--    max-width: 1280px;-->
<!--}-->

pre{
    font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.custom {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.custom2 {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
}

ul {
    margin-top: 1em;
    margin-bottom: 3em;
}



</style>
{% endblock %}

{% block scripts %}
<script>



</script>
{% endblock %}