{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
 Thank you for your participation!

{% endblock %}

{% block content %}<br>

    <p class="custom">

        {% if matched_donation == 'YES' %}
            Your <b>Anonymous donations</b> were selected to be doubled by the researchers.
        {% endif %}
        {% if matched_donation == 'NO' %}
            Your <b>Anonymous donations</b> were not selected to be doubled by the researchers.
        {% endif %}

        <br><br>

        {% if listed == 'YES' %}
            {% if gave_consent == 'YES' %}
                Your <b>Public donations</b> have earned you a place on the Charity Heroes' List.
            <br>
            {% endif %}
        {% else %}
            {% if gave_consent == 'YES' %}
                Your <b>Public donations</b> have not earned you a place on the Charity Heroes' List.
            {% endif %}
        {% endif %}

        <br><br>

        {% if gave_consent == 'YES' %}
                You have earned {{ total_subject_donation }} for {{ tasks_completed }} different charities.
            <br>
        {% else %}
                You have earned {{ total_subject_donation }} hypothetical dollars for {{ tasks_completed }} different charities.
            <br>
        {% endif %}


    <br><br>


    </p>
    <p class="custom">

            Your compensation for participating in this study is 0.5 course credit.
            <br>

    </p>

    <br><br><br>


<p class="custom0"> <i>You may now exit Full Screen Mode (F11 or 'Command-Control-F'). Please close this window once you are finished.</i> </p>

{% endblock %}

{% block app_styles %}
<style type="text/css">
.otree-body{
    max-width: 1280px;
}

.custom0 {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
.custom {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.custom2 {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
}


</style>
{% endblock %}

{% block scripts %}
<script>


addEventListener("click", function() {
    var
          el = document.documentElement
        , rfs =
               el.requestFullScreen
            || el.webkitRequestFullScreen
            || el.mozRequestFullScreen
    ;
    rfs.call(el);
});

</script>
{% endblock %}