{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Welcome!
{% endblock %}

{% block content %}<br>
<div id="fs-request">
    <p class="custom"> Please open this page in <b>FULL SCREEN.</b></p>
    <p class="custom2"> Press "F11" to full screen the page on a Windows computer. Press "Command-Control-F" on a Mac.</p>
    <br>
    <p class="custom"> Once you are in Full Screen Mode, click below to begin:</p>
    <p class="custom2"> <button type="button" style="background-color: lightgreen" onclick="toggleFullScreen(document.documentElement);">BEGIN</button></p>
 </div>
<div id="fs-main-content" class="hide" >

<p class="custom" align="justify">
    <br>
    To begin, we want you to fill out a couple of brief questionnaires about your background and personality.
    You will then participate in two short tasks. The total time of participation is about 30 minutes.

    <br><br><br>

    You may pace yourself and are encouraged to take short (20-second) breaks as needed.
    <br><br><br>
    {% if part_pool == "SONA"%}
        You are free to stop the experiment at any time you wish; however, stopping before completing the study means
        that you will not receive course credit compensation.<br>
    {% elif part_pool == "ESSL" %}
        You are free to stop the experiment at any time you wish.<br>
    {% else %}
        You are free to stop the experiment at any time you wish; however, stopping before completing the study means
        that you will not receive monetary compensation.<br>
    {% endif %}


    <br>
</p>
<br><br>
<p class="custom">

    Thank you in advance for your participation!<br><br>

</p>
<br>

<br>

    <button class="otree-btn-next btn btn-primary" style="font-size:20px"> NEXT </button>
</div>
{% endblock %}

{% block app_styles %}
<style type="text/css">


.custom {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 22pt;
}

.custom2 {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 22pt;
}

.hide { display: none!important; }
</style>
{% endblock %}

{% block scripts %}
<script>




var fsRequest = $('#fs-request');
var fsContent = $('#fs-main-content');
function toggleFullScreen(elem) {

    fsRequest.addClass('hide');
    fsContent.removeClass('hide');
}





</script>
{% endblock %}