
{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
Questionnaire
{% endblock %}

{% block content %}


    <p class="custom2">
        Please read each scenario carefully and rate how likely it would be for you to react in each of the ways stated.
    </p>
<br><br>
    {{ form.non_field_errors }}
    {{ form.sh11.errors }}
    {{ form.g11.errors }}
    {{ form.d11.errors }}
    {{ form.e11.errors }}

<div class="grid-container">
    <div class="item item-0">
        <table class="custom" cellpadding="15" cellspacing="20"  >
            <tr align="center" style="font-weight:bold; background-color:#ddf2ee;">
                <td width="600" align="left" class="custom2">You attend your coworker's housewarming party and you spill
                    red wine on a new cream-colored carpet, but you think no one notices.</td>
                <td width="120"><pre>Not likely </pre></td>
                <td width="120"><pre>           </pre></td>
                <td width="120"><pre>           </pre></td>
                <td width="120"><pre>           </pre></td>
                <td width="120"><pre>Very likely</pre></td>
            </tr>
            <tr>
                <td width="600">You think your coworker should have expected some accidents at such a big party.</td>
                {% for radio in form.d11 %}
                    <td align="center" width="120" ><pre> {{ radio.tag }}</pre></td>
                {% endfor %}
            </tr>
            <tr>
                <td width="600" style="background-color:#effbf5;">You would stay late to help clean up the stain after the party.</td>
                {% for radio in form.g11 %}
                    <td align="center" width="120" style="background-color:#effbf5;" ><pre> {{ radio.tag }}</pre></td>
                {% endfor %}
            </tr>
            <tr>
                <td width="600">You would wish you were anywhere but at the party.</td>
                {% for radio in form.sh11 %}
                    <td align="center" width="120" ><pre> {{ radio.tag }}</pre></td>
                {% endfor %}
            </tr>
            <tr>
                <td width="600" style="background-color:#effbf5;">You would wonder why your coworker chose to serve red wine with the new
                light carpet.</td>
                {% for radio in form.e11 %}
                    <td align="center" width="120"  style="background-color:#effbf5;"><pre> {{ radio.tag }}</pre></td>
                {% endfor %}
            </tr>
        </table>
    </div>



</div>

<br><br><br><br><br>
{% if subsession.round_number == 6 %}
<p class="custom"> Press "NEXT" to continue.</p> <br>
{% endif %}
<button class="otree-btn-next btn btn-primary" style="font-size:20px"> NEXT </button>

{% endblock %}

{% block app_styles %}
<style type="text/css">

.otree-body{
    max-width: 1280px;
}

pre{
    font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.custom {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.custom2 {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
}

table tr#ROWodd {background-color:#ededed;}
table tr#ROWeven {background-color:white;}


.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 60px;
  align-content: start;
}


.item-0 {
  <!--grid-column-start: 1;-->
  <!--grid-column-end: 2;-->
  grid-row-start: 1;
  grid-row-end: 2;
  place-self: top center;

}

.item-1 {
  <!--grid-column-start: 1;-->
  <!--grid-column-end: 2;-->
  grid-row-start: 2;
  grid-row-end: 3;
  place-self: top center;
}

.item-2 {
  <!--grid-column-start: 1;-->
  <!--grid-column-end: 2;-->
  grid-row-start: 3;
  grid-row-end: 4;
  place-self: top center;
  background-color:#ededed;
}



.hide { display: none!important; }

</style>
{% endblock %}

{% block scripts %}
<script>


addEventListener("click", function() {
    var
          el = document.documentElement
        , rfs =
               el.requestFullScreen
            || el.webkitRequestFullScreen
            || el.mozRequestFullScreen
    ;
    rfs.call(el);
});



</script>
{% endblock %}
