
{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
Questionnaire
{% endblock %}

{% block content %}


    <p class="custom2">
        Please read each statement carefully and select the option that best describes you.
    </p>


    <br><br>

<div class="grid-container" >
    {{ form.non_field_errors }}

    <div class="item item-0">
        <table class="custom" cellpadding="20" cellspacing="500" >
            <tr align="center" style="font-weight:bold" >
                <td width="450"></td>
                <td width="160"><pre>Not at all</pre></td>
                <td width="160"><pre>A little bit</pre></td>
                <td width="160"><pre>Moderately</pre></td>
                <td width="160"><pre>Quite a bit</pre></td>
                <td width="160"><pre>Extremely</pre></td>
            </tr>
        </table>
    </div>

    <div class="{{SubC_num.0}}">
        <table cellpadding="10" border =0 class="custom">

            <tr height="60">
                {{ form.SubC1.errors }}
                <td  width="450"><pre>When I am caring for others, I hope they will <br>see me as a nice person.</pre></td>
                {% for radio in form.SubC1 %}
                    <td align="center" width="160" ><pre>      {{ radio.tag }}</pre></td>
                {% endfor %}

            </tr>


        </table>
    </div>

    <div class="{{SubC_num.1}}">
        <table cellpadding="10" border =0 class="custom">
            <tr height="60">
                {{ form.SubC2.errors }}
                <td  width="450"><pre>I worry that if I am not caring enough, people <br>will reject me.</pre></td>
                {% for radio in form.SubC2 %}
                    <td align="center" width="160" ><pre>      {{ radio.tag }}</pre></td>
                {% endfor %}
            </tr>

        </table>
    </div>

    <div class="{{SubC_num.2}}">
        <table cellpadding="10" border =0 class="custom">
            <tr height="60">
                {{ form.SubC3.errors }}
                <td  width="450"><pre>I try to do what others want so I won't be <br>alone.</pre></td>
                {% for radio in form.SubC3 %}
                    <td align="center" width="160" ><pre>      {{ radio.tag }}</pre></td>
                {% endfor %}
            </tr>

        </table>
    </div>

    <div class="{{SubC_num.3}}">
        <table cellpadding="10" border =0 class="custom">
            <tr height="60">
                {{ form.SubC4.errors }}
                <td  width="450"><pre>I try to help people as much as I can so that <br>they appreciate me.</pre></td>
                {% for radio in form.SubC4 %}
                    <td align="center" width="160" ><pre>      {{ radio.tag }}</pre></td>
                {% endfor %}
            </tr>

        </table>
    </div>

    <div class="{{SubC_num.4}}">
        <table cellpadding="10" border =0 class="custom">
            <tr height="60">
                {{ form.SubC5.errors }}
                <td  width="450"><pre>I make an effort to always be there for others <br>so that they think I'm important in their lives.</pre></td>
                {% for radio in form.SubC5 %}
                    <td align="center" width="160" ><pre>      {{ radio.tag }}</pre></td>
                {% endfor %}
            </tr>

        </table>
    </div>

    <div class="{{SubC_num.5}}">
        <table cellpadding="10" border =0 class="custom">

            <tr height="60">
                {{ form.SubC6.errors }}
                <td  width="450"><pre>I agree to help but can regret the demands <br>on me later.</pre></td>
                {% for radio in form.SubC6 %}
                    <td align="center" width="160" ><pre>      {{ radio.tag }}</pre></td>
                {% endfor %}
            </tr>

        </table>
    </div>

    <div class="{{SubC_num.6}}">
        <table cellpadding="10" border =0 class="custom">

            <tr height="60" >
                {{ form.SubC7.errors }}
                <td  width="450"><pre>I try to be caring and helpful to avoid arguments <br>and conflicts.</pre></td>
                {% for radio in form.SubC7 %}
                    <td align="center" width="160" ><pre>      {{ radio.tag }}</pre></td>
                {% endfor %}
            </tr>

        </table>
    </div>

    <div class="{{SubC_num.7}}">
        <table cellpadding="10" border =0 class="custom">

            <tr height="60">
                {{ form.SubC8.errors }}
                <td  width="450"><pre>I pay attention to others so that they see me <br>as a caring person.</pre></td>
                {% for radio in form.SubC8 %}
                    <td align="center" width="160" ><pre>      {{ radio.tag }}</pre></td>
                {% endfor %}
            </tr>

        </table>
    </div>

    <div class="{{SubC_num.8}}">
        <table cellpadding="10" border =0 class="custom">

            <tr height="60" >
                {{ form.SubC9.errors }}
                <td  width="450"><pre>I try to show that I care for other people's <br>feelings so that they see me as thoughtful <br>and sensitive.</pre></td>
                {% for radio in form.SubC9 %}
                    <td align="center" width="160" ><pre>      {{ radio.tag }}</pre></td>
                {% endfor %}
            </tr>

        </table>
    </div>

    <div class="{{SubC_num.9}}">
        <table cellpadding="10" border =0 class="custom">

            <tr height="60">
                {{ form.SubC10.errors }}
                <td  width="450"><pre>I always put the needs of others on top of mine, <br>because that's what it takes to be loved.</pre></td>
                {% for radio in form.SubC10 %}
                    <td align="center" width="160" ><pre>      {{ radio.tag }}</pre></td>
                {% endfor %}
            </tr>

        </table>
    </div>

</div>
<br><br><br><br>
<p class="custom"> Press "NEXT" to continue.</p> <br>
<button class="otree-btn-next btn btn-primary" style="font-size:20px"> NEXT </button>

{% endblock %}

{% block app_styles %}
<style type="text/css">

.otree-body{
    max-width: 1280px;
}

pre{
    font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 22pt;
}

.custom {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 22pt;
}

.custom2 {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 22pt;
}

table tr#ROWodd {background-color:#effbf5;}
table tr#ROWeven {background-color:white;}


.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-content: start;
}


.item-0 {
  <!--grid-column-start: 1;-->
  <!--grid-column-end: 2;-->
  grid-row-start: 1;
  grid-row-end: 2;
  place-self: top center;
  background-color:#effbf5;
}

.item-1 {
  <!--grid-column-start: 1;-->
  <!--grid-column-end: 2;-->
  grid-row-start: 2;
  grid-row-end: 3;
  place-self: top center;
}

.item-2 {
  <!--grid-column-start: 1;-->
  <!--grid-column-end: 2;-->
  grid-row-start: 3;
  grid-row-end: 4;
  place-self: top center;
  background-color:#effbf5;
}

.item-3 {
  <!--grid-column-start: 2;-->
  <!--grid-column-end: 3;-->
  grid-row-start: 4;
  grid-row-end: 5;
  place-self: top center;
}

.item-4 {
  <!--grid-column-start: 2;-->
  <!--grid-column-end: 3;-->
  grid-row-start: 5;
  grid-row-end: 6;
  place-self: top center;
  background-color:#effbf5;
}

.item-5 {
  <!--grid-column-start: 2;-->
  <!--grid-column-end: 3;-->
  grid-row-start: 6;
  grid-row-end: 7;
  place-self: top center;
}

.item-6 {
  <!--grid-column-start: 2;-->
  <!--grid-column-end: 3;-->
  grid-row-start: 7;
  grid-row-end: 8;
  place-self: top center;
  background-color:#effbf5;
}

.item-7 {
  <!--grid-column-start: 2;-->
  <!--grid-column-end: 3;-->
  grid-row-start: 8;
  grid-row-end: 9;
  place-self: top center;
}

.item-8 {
  <!--grid-column-start: 2;-->
  <!--grid-column-end: 3;-->
  grid-row-start: 9;
  grid-row-end: 10;
  place-self: top center;
  background-color:#effbf5;
}

.item-9 {
  <!--grid-column-start: 2;-->
  <!--grid-column-end: 3;-->
  grid-row-start: 10;
  grid-row-end: 11;
  place-self: top center;
}

.item-10 {
  <!--grid-column-start: 2;-->
  <!--grid-column-end: 3;-->
  grid-row-start: 11;
  grid-row-end: 12;
  place-self: top center;
  background-color:#effbf5;
}

.subc {
  font-weight: bold  ;
  font-size: 20px;
  text-align: top;
  border           : 1.5em solid black;
  width            : .9em;
  height           : .9em;
}

.hide { display: none!important; }

</style>
{% endblock %}

{% block scripts %}
<script>


<!--addEventListener("click", function() {-->
<!--    var-->
<!--          el = document.documentElement-->
<!--        , rfs =-->
<!--               el.requestFullScreen-->
<!--            || el.webkitRequestFullScreen-->
<!--            || el.mozRequestFullScreen-->
<!--    ;-->
<!--    rfs.call(el);-->
<!--});-->




<!--var el= document.documentElement;-->

<!--function getFullscreenElement(){-->
<!--    return document.fullscreenElement-->
<!--}-->
<!--function setFullScreenContent() {-->
<!--        var fsRequest = $('#fs-request');-->
<!--        var fsContent = $('#fs-main-content');-->
<!--        if(getFullscreenElement()) {-->
<!--            fsRequest.addClass('hide');-->
<!--            fsContent.removeClass('hide');-->

<!--        } else {-->
<!--            fsRequest.removeClass('hide');-->
<!--            fsContent.addClass('hide');-->
<!--        }-->
<!--    }-->

<!--if( document.readyState !== 'loading' ) {-->
<!--    console.log( 'document is already ready, just execute code here' );-->
<!--    getFullscreenElement()-->
<!--    setFullScreenContent();-->
<!--} else {-->
<!--    document.addEventListener('DOMContentLoaded', function () {-->
<!--        console.log( 'document was not ready, place code here' );-->
<!--        getFullscreenElement()-->
<!--        setFullScreenContent();-->
<!--    });-->
<!--}-->


<!--$(document).ready(function() {-->
<!--    switchContent();-->
<!--});-->
<!--$(window).on("load", function(e){-->
<!--    console.log("resize");-->
<!--    switchContent();-->
<!--});-->
<!--function isFullscreen(){-->
<!--    return 1 >= window.outerHeight - window.innerHeight-->
<!--}-->
<!--function switchContent(){-->
<!--    console.log("init");-->

<!--    var fsRequest = $('#fs-request');-->
<!--    var fsContent = $('#fs-main-content');-->
<!--    if(isFullscreen()) {-->
<!--        console.log("full");-->

<!--        fsRequest.addClass('hide');-->
<!--        fsContent.removeClass('hide');-->
<!--    } else {-->
<!--        console.log("notfull");-->
<!--        fsContent.addClass('hide');-->
<!--        fsRequest.removeClass('hide');-->
<!--    }-->
<!--}-->
</script>
{% endblock %}
