{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="dot" style="margin-left:{{m_l.0}}px;margin-top:{{m_t.0}}px"></div>
    <div class="dot" style="margin-left:{{m_l.1}}px;margin-top:{{m_t.1}}px"></div>
    <div class="dot" style="margin-left:{{m_l.2}}px;margin-top:{{m_t.2}}px"></div>
    <div class="dot" style="margin-left:{{m_l.3}}px;margin-top:{{m_t.3}}px"></div>
    <div class="dot" style="margin-left:{{m_l.4}}px;margin-top:{{m_t.4}}px"></div>
    <div class="dot" style="margin-left:{{m_l.5}}px;margin-top:{{m_t.5}}px"></div>
    <div class="dot" style="margin-left:{{m_l.6}}px;margin-top:{{m_t.6}}px"></div>
    <div class="dot" style="margin-left:{{m_l.7}}px;margin-top:{{m_t.7}}px"></div>
    <div class="dot" style="margin-left:{{m_l.8}}px;margin-top:{{m_t.8}}px"></div>
    <div class="dot" style="margin-left:{{m_l.9}}px;margin-top:{{m_t.9}}px"></div>
    <div class="dot" style="margin-left:{{m_l.10}}px;margin-top:{{m_t.10}}px"></div>
    <div class="dot" style="margin-left:{{m_l.11}}px;margin-top:{{m_t.11}}px"></div>
    <div class="dot" style="margin-left:{{m_l.12}}px;margin-top:{{m_t.12}}px"></div>
    <div class="dot" style="margin-left:{{m_l.13}}px;margin-top:{{m_t.13}}px"></div>
    <div class="dot" style="margin-left:{{m_l.14}}px;margin-top:{{m_t.14}}px"></div>
    <div class="dot" style="margin-left:{{m_l.15}}px;margin-top:{{m_t.15}}px"></div>
    <div class="dot" style="margin-left:{{m_l.16}}px;margin-top:{{m_t.16}}px"></div>

    {% if num_dots > 17 %}
            <div class="dot" style="margin-left:{{m_l.17}}px;margin-top:{{m_t.17}}px"></div>
    {% endif %}
    {% if num_dots > 18 %}
            <div class="dot" style="margin-left:{{m_l.18}}px;margin-top:{{m_t.18}}px"></div>
    {% endif %}
    {% if num_dots > 19 %}
            <div class="dot" style="margin-left:{{m_l.19}}px;margin-top:{{m_t.19}}px"></div>
            <div class="dot" style="margin-left:{{m_l.20}}px;margin-top:{{m_t.20}}px"></div>
    {% endif %}
    {% if num_dots > 21 %}
            <div class="dot" style="margin-left:{{m_l.21}}px;margin-top:{{m_t.21}}px"></div>
    {% endif %}
    {% if num_dots > 22 %}
            <div class="dot" style="margin-left:{{m_l.22}}px;margin-top:{{m_t.22}}px"></div>
    {% endif %}

</div>


{% endblock %}

{% block app_styles %}
<style type="text/css">
.otree-body{
    max-width: 1024px;
    max-height: 700px;
}

.otree-timer {
    display: none;
}



.custom {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.custom2 {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
.custom3 {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1280px;
  grid-template-rows: 750px;
<!--  grid-column-gap: 35px;-->
<!--  grid-row-gap: 5px;-->
<!--  align-content: start;-->
}
.dot {
  height: 8px;
  width: 8px;
  background-color: #000000;
  border-radius: 100%;
  position: absolute;
}

</style>
{% endblock %}

{% block scripts %}
<script>


<!--addEventListener("click", function() {-->
<!--    var-->
<!--          el = document.documentElement-->
<!--        , rfs =-->
<!--               el.requestFullScreen-->
<!--            || el.webkitRequestFullScreen-->
<!--            || el.mozRequestFullScreen-->
<!--    ;-->
<!--    rfs.call(el);-->
<!--});-->




</script>
{% endblock %}
