{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Instructions
{% endblock %}

{% block content %}<br>

<p class="custom" align="justify"> <br>
    You will now be paired with another participant to play {{num_actual_rounds}} rounds of the task.

    <br><br>
</p>
<p class="custom">
    Each round follows these steps:
</p>
    <ol class="custom" align="justify"  >
        <li> The <b>Advisor</b> sees dots randomly distributed across the screen for {{ sec_adv_sees }} seconds.</li>
        <li> The <b>Advisor</b> sends an advice to the Decider regarding whether the number of dots were MORE or LESS
        than 20.</li>
        <li> The <b>Decider</b> sees the same screen with dots previously presented to the Advisor but only for {{ sec_dec_sees }} second.</li>
        <li> The <b>Decider</b> is shown the Advisor's advice and has to submit a decision regarding whether the number of dots were MORE or LESS
        than 20.</li>
        <li> Both participants are <b>told</b> whether the <b>advice was correct or incorrect</b> and whether the <b>decision was
            correct or incorrect</b>. </li>
    </ol>
    <br><br>



<p class="custom">
</p>

<br>
<p class="custom"> Press "NEXT" to begin.</p>
    <button class="otree-btn-next btn btn-primary" style="font-size:20px"> NEXT </button>

{% endblock %}


{% block app_styles %}
<style type="text/css">

li{
  margin: 10px 0;
}
.custom {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
}
.custom2 {
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
}
</style>
{% endblock %}

{% block scripts %}
<script>


addEventListener("click", function() {
    var
          el = document.documentElement
        , rfs =
               el.requestFullScreen
            || el.webkitRequestFullScreen
            || el.mozRequestFullScreen
    ;
    rfs.call(el);
});

</script>
{% endblock %}