{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Instructions <i>(continued)</i>

{% endblock %}

{% block content %}<br>

<p class="custom" align="justify"> <br>

    {% if role == "Decider" %}
    <b>YOU HAVE BEEN ASSIGNED THE ROLE OF: <span style="color:red">DECIDER</span></b>
    {% else %}
    <b>YOU HAVE BEEN ASSIGNED THE ROLE OF: <span style="color:red">ADVISOR</span></b>
    {% endif %}
    <br>
    <br><br>

    {% if role == "Decider" %}
    <b>In rounds without advice, you will be asked to submit a decision about the dots and receive feedback about accuracy.
    In rounds with advice, you will be shown the Advisor's advice and be forced to submit the recommended response.</b>
    After every advice round, you will receive feedback about whether the advice was correct or not, and whether you will need to complete additional
    rounds of the task as a result.

    {% else %}
    <b>In rounds without advice, you will not be asked to submit a response. In rounds with advice, you will have to submit
        an advice that will determine the Decider's decision for the round.</b> The advice will be shown to the Decider,
    who will be forced to submit the recommended response. After every advice round, you will be told if the advice was
    correct or not, and whether the Decider will need to complete additional rounds of the task as a result.

    {% endif %}
    <br><br><br>
    <b>You will not know if it is a round without or with advice until AFTER the dots are shown on the screen, so you will
        need to pay attention to the screen in every round. </b>

</p>
    <br><br>
    <p class="custom" align="justify"> <i>Note: Whenever you see a blue bar at the top of the screen, it means the study is waiting for the
        participant you have been paired with to reach the same page you are on before moving forward.</i></p>
    <br><br>
<p class="custom" align="justify">
    You will now complete {{ num_trial_rounds }} practice rounds to get a better sense of the task before the official rounds
    begin. You will not be told whether your responses are correct or incorrect in the practice rounds.
</p>


<p class="custom"> Press "NEXT" to begin the Practice Rounds.</p>
    <button class="otree-btn-next btn btn-primary" style="font-size:20px"> NEXT </button>

{% endblock %}


{% block app_styles %}
<style type="text/css">

li{
  margin: 10px 0;
  line-height: 22pt;
}
.custom {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 22pt;
}
.custom2 {
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 22pt;
}

.hide { display: none!important; }
</style>
{% endblock %}

{% block scripts %}
<script>


<!--addEventListener("click", function() {-->
<!--    var-->
<!--          el = document.documentElement-->
<!--        , rfs =-->
<!--               el.requestFullScreen-->
<!--            || el.webkitRequestFullScreen-->
<!--            || el.mozRequestFullScreen-->
<!--    ;-->
<!--    rfs.call(el);-->
<!--});-->



var fsRequest = $('#fs-request');
var fsContent = $('#fs-main-content');
function toggleFullScreen(elem) {

    fsRequest.addClass('hide');
    fsContent.removeClass('hide');
}

</script>
{% endblock %}