{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Instructions
{% endblock %}

{% block content %}<br>

<p class="custom" align="justify"> <br>
    <b>You have been paired with another participant to play an advice-decision task for {{ num_actual_rounds }} rounds.
    The objective in each round is to figure out if the number of dots that are
        presented on the screen is MORE or LESS than 20. The dots will appear on the screen for {{ dots_secs }}
    second. </b> <br><br>
    In the task, one of you has been randomly assigned the role of Advisor and the other the role of Decider.
    <b>You have been assigned the role of {{ role }}</b>.
    <br><br>

    {% if role == "Decider" %}
    In half of the rounds, you will make a decision about the number of dots on your own. In the other half, you
    will have to follow the advice of the Advisor, selecting the option they believe is correct. After every round,
    you will be told if the decision submitted was correct or incorrect.
    {% else %}
    In half of the rounds, the Decider will make the decision about the number of dots on their own. In the other half,
    you will have to send them an advice of which option you believe is correct, and they will have to follow that
    advice. After every round you give advice on, you will be told if your advice was correct or incorrect.
    {% endif %}
    <br><br>
    For every incorrect advice given by the Advisor, the Decider will have to complete {{ round_multiplier }} extra rounds
    of the task by themselves once the original {{ num_actual_rounds }} rounds are completed. The Advisor will not have to complete
    any extra rounds.

</p>
<p class="custom">
    You will now complete {{ num_trial_rounds }} trial rounds to get a better idea of the task before the official rounds
    begin.
</p>



<br>
<p class="custom"> Press "NEXT" to begin the trial rounds.</p>
    <button class="otree-btn-next btn btn-primary" style="font-size:20px"> NEXT </button>

{% endblock %}


{% block app_styles %}
<style type="text/css">

li{
  margin: 10px 0;
}
.custom {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
}
.custom2 {
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
}
</style>
{% endblock %}

{% block scripts %}
<script>


<!--addEventListener("click", function() {-->
<!--    var-->
<!--          el = document.documentElement-->
<!--        , rfs =-->
<!--               el.requestFullScreen-->
<!--            || el.webkitRequestFullScreen-->
<!--            || el.mozRequestFullScreen-->
<!--    ;-->
<!--    rfs.call(el);-->
<!--});-->

</script>
{% endblock %}