{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    {% if round_num <= Constants.num_trial_rounds %}
        Trial Round Result
    {% endif %}
    {% if round_num > Constants.num_trial_rounds %}
        Round {{ round_count }} Result
    {% endif %}

{% endblock %}

{% block content %}<br><br>

    <p class="custom2">
        {% if adv_round == "TRIAL" and role == "Advisor" %}
            Your advice was <b>{{ result }}</b>.
        {% endif %}
        {% if adv_round == "TRIAL" and role == "Decider" %}
            Your decision was <b>{{ result }}</b>.
        {% endif %}
        {% if adv_round == "With" and role == "Advisor" %}
            Your advice was <b>{{ result }}</b>.
            {% if correctness == 0 %}
                <br><br>
                <b> The Decider will have to complete {{ round_mult }} extra rounds of the task.</b>
            {% endif %}
        {% endif %}
        {% if adv_round == "With" and role == "Decider" %}
             The Advisor's advice was <b>{{ result }}</b>.
            {% if correctness == 0 %}
                <br><br>
                <b>You will have to complete {{ round_mult }} extra rounds of the task.</b>
            {% endif %}
        {% endif %}
        {% if adv_round == "Without" and role == "Decider" %}
            Your decision was <b>{{ result }}</b>.
        {% endif %}
        {% if adv_round == "Without" and role == "Advisor" %}
            In this round the Decider will submit a decision without advice.
        {% endif %}

    </p>


<br><br><br>
<!--{% if round_num < Constants.num_trial_rounds %}-->
<!--    <p class="custom"> Click 'NEXT' to proceed to the next Trial Round <br> </p>-->
{% if round_num == Constants.num_trial_rounds %}
    <p class="custom"> <b>This was the last Trial Round.</b>Click 'NEXT' to begin the task. <br> </p>
{% endif %}
<!--{% elif round_num < Constants.num_rounds %}-->
<!--    <p class="custom"> Click 'NEXT' to proceed to the next Round <br> </p>-->
<!--{% else %}-->
{% if round_num == Constants.num_rounds %}
    <p class="custom"> Click 'NEXT' to proceed <br> </p>
{% endif %}
        <button class="otree-btn-next btn btn-primary" style="font-size:20px"> NEXT </button>




{% endblock %}

{% block app_styles %}
<style type="text/css">
.otree-body{
    max-width: 1280px;
}

.custom0 {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
.custom {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.custom2 {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
}


</style>
{% endblock %}

{% block scripts %}
<script>


<!--addEventListener("click", function() {-->
<!--    var-->
<!--          el = document.documentElement-->
<!--        , rfs =-->
<!--               el.requestFullScreen-->
<!--            || el.webkitRequestFullScreen-->
<!--            || el.mozRequestFullScreen-->
<!--    ;-->
<!--    rfs.call(el);-->
<!--});-->

</script>
{% endblock %}